header {
    width: auto;
    height: 70px;
    background-color: burlywood;
}

section {
    width: 80%;
    height: 80%;
    background-color: aquamarine;
} 

footer {
    width: 100%;
    height: 50px;
    background-color: burlywood;
}